:root {
  --gray-10: #303841;
  --gray-20: #3a4750;
  --yellow-10: #f6c90e;
  --yellow-20: #f2a51a;
  --orange-10: #cf7500;
  --light-10: #eeeeee;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Nunito", sans-serif;
  line-height: 1.6;
  background-color: var(--gray-10);
}

.registration-page {
  position: relative;
}

/*******HEADER**********/
.header {
  color: var(--light-10);
  text-align: center;
}

.header__title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.2rem;
  margin-bottom: 1%;
}

.header__subtitle {
  font-size: 1.5rem;
}

/************NAVIGATION*******/
.active-tab {
  opacity: 1 !important;
}

.nav__list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav__list-item {
  margin: 1%;
  width: max-content;
  border: none;
}

.nav__list-item button {
  font-size: 1.2rem;
  border: 0;
  width: max-content;
  color: var(--gray-10);
  background: transparent;
  cursor: pointer;
  border-radius: 1px;
  border: none;
  opacity: 0.5;
  transition: 0.3s;
}

.nav__list-item button:focus {
  outline: none;
}

.nav__list-item button img {
  width: 80px;
  height: auto;
}

.nav__list-item span {
  font-weight: bold;
  font-size: 1.4rem;
}

/********FORM***********/
.form-wrapper {
  width: 35%;
  margin: 1% auto 0 auto;
  background-color: var(--gray-20);
  padding: 1%;
  box-shadow: -1px 4px 3px 3px rgba(58, 71, 80, 0.35);
  -webkit-box-shadow: -1px 4px 3px 3px rgba(58, 71, 80, 0.35);
}

.form {
  display: flex;
  flex-direction: column;
  color: var(--light-10);
  position: relative;
}

.form-field {
  border: none;
  margin: 2% 0;
}

.form-field__title {
  color: var(--yellow-10);
}

#sign-up-field input {
  width: 100%;
  padding: 2%;
  margin: 2% 0 0 0;
  color: var(--gray-10);
  outline: none;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: var(--light-10);
  transition: 0.3s;
  border-radius: 2px;
}

#sign-up-field input:hover {
  background-color: #fff;
  border-bottom: 3px solid var(--yellow-10);
}

#sign-up-field input:focus {
  border-bottom: 3px solid var(--yellow-10);
}

.submit-button {
  background-color: var(--yellow-10);
  border: none;
  padding: 1% 0;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 3%;
  color: var(--gray-10);
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
  border-radius: 2px;
}

.submit-button:hover {
  background-color: var(--yellow-20);
}

.submit-button:disabled {
  background-color: var(--gray-10);
  color: var(--light-10);
  cursor: not-allowed;
}

/*CURRENCY*/
.currency__symbol {
  color: var(--yellow-10);
  font-weight: bolder;
  font-size: 1.2rem;
}

/*RADIO BUTTONS*/
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background: var(--gray-10);
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
  content: "";
  width: 10px;
  height: 10px;
  background: var(--yellow-10);
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
  opacity: 0.7;
  -webkit-transform: scale(0);
  transform: scale(0);
  background: blue;
}

[type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.radio-wrapper {
  display: flex;
  justify-content: space-between;
  padding-right: 20%;
  margin-top: 2%;
}

/*CHECKBOX*/

input[type="checkbox"]+label {
  display: block;
  cursor: pointer;
  padding: 0.2em;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+label:before {
  content: "\2714";
  border: 0.1em solid var(--gray-10);
  background-color: var(--gray-10);
  border-radius: 0.2em;
  display: inline-block;
  width: 1.1em;
  height: 1.1em;
  font-size: 1.1rem;
  margin-right: 3%;
  vertical-align: text-bottom;
  color: transparent;
  transition: 0.2s;
}

input[type="checkbox"]+label:active:before {
  transform: scale(0);
}

input[type="checkbox"]:checked+label:before {
  background-color: var(--gray-10);
  border-color: var(--gray-10);
  color: var(--yellow-10);
}

input[type="checkbox"]:disabled+label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type="checkbox"]:checked:disabled+label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}

/*UI ELEMENTS*/
.error {
  min-height: 25px;
  color: #fc7e2f;
  font-size: 14px;
}

.modal-open {
  background-color: #ff971d;
  position: absolute;
  top: 40%;
  left: 35%;
  z-index: 100;
  width: 30%;
  height: 60%;
  color: var(--gray-10);
}

.modal-close {
  display: none;
}

.modal__wrapper {
  position: relative;
  text-align: center;
  padding: 0 1%;
}

#modal__close-button {
  border: none;
  color: var(--gray-20);
  background-color: var(--light-10);
  font-size: 2rem;
  padding: 2% 5%;
  font-weight: bolder;
  border-radius: 3px;
  cursor: pointer;
  width: 40%;
  margin: 0 auto;
  position: absolute;
  bottom: 4%;
  left: 30%;
}

.modal__wrapper-title {
  margin-top: 10%;
}

.modal__wrapper-subtitle {
  font-size: 1.4rem;
  margin-top: 5%;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: absolute;
  top: 30%;
  left: 35%;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(246, 201, 14, 0.2);
  border-right: 1.1em solid rgba(246, 201, 14, 0.2);
  border-bottom: 1.1em solid rgba(246, 201, 14, 0.2);
  border-left: 1.1em solid #f6c90e;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/******RESPONSIVE**********/
@media only screen and (max-width: 600px) {
  .form-wrapper {
    width: 90%;
  }

  .modal-open {
    width: 80%;
    left: 10%;
  }
}